@import url('https://fonts.googleapis.com/css?family=Roboto');
</style>

@media (min-width: 992px) {
body {
  padding-top: 56px;
  /*font-family: Arial,Helvetica Neue,Helvetica,sans-serif; */
  font-family: 'Roboto', sans-serif;
}
}

.business-header {
min-height: 123px;
background-color:#ccc;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/2.jpg");
margin-top: 50px;
}
.business-header-report {
min-height: 123px;
background-color:#ccc;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/1.jpg");
margin-top: 50px;
}
.hierarchy-header {
min-height: 123px;
background-color:#ccc;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/3.jpg");
margin-top: 50px;
}

.card {
height: 100%;
}
.header-color{
background-color:#002778;
}
.logo {
background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/logo_hdfcbank.gif");
padding: 0px;
width: 220px;
height: 35px;
background-repeat: no-repeat;
}
.form-font{
font-size:13px;
margin-top: 0px;
}
.form-control {
font-size:13px;
}
.phone-txt{
margin-left:2px;
}
.phone-txt-pd{
margin-left:12px;
}
.btn-btm{
margin-bottom:10px;
margin-left:10px;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.3%;
}

.checkbox label, .radio label {
  min-height: 20px;
  padding-left: 10px;
  font-weight: 400;
  cursor: pointer;
}

input, optgroup, select, textarea, label {
  margin: 5px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button{
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.aria-people{
  width:200px;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
  font-size: 13px;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #000;
}
.h4, h4 {
  font-size: 18px;
}
.clear{
clear:both;
}
.form-bg{
background-color: #cccccc54;
margin-bottom: 10px;
}

.page-title{
background-color: #ccc;
width:100%;
height:40px;
padding:10px 10px 10px 17px;
color:#002D77;
margin-bottom:10px;
}
.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  margin-bottom: 5px;
  list-style: none;
  background-color: #e9ecef;
  border-radius: .25rem;
}
.page-title-campign{
background-color: #CA463F;
width:100%;
height:140px;
padding:10px 10px 10px 17px;
color:#002D77;
margin-bottom:20px;
}
.tech-survy{
font-size:16px;
color:#004b8f;
}
.text-length{
margin-top: 14px;
margin-right: 14px;
font-size:11px;
}
.down-btn{
margin-right: 15px;
}
.page-heading {
  margin-bottom: 0;
  line-height: 1.4;
  color:#b2bdea;
  margin-left:18px;
  width:742px;
}

.user-mail{
margin-left:10px;
}
.carbonads {
  position: absolute;
  top: 123px;
  right: 15px;
  width: 330px !important;
  margin: 0 !important;
  padding: 15px !important;
}
.col-centered{
float: none;
margin: 0 auto;
}
.main-bg-img{
  background-image: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/bg.png");
  background-size:cover;
 margin-top: 50px;
}
.mt5{
  margin-top:-5px;
}

.form-group {
  margin-bottom: 0rem;
  border-radius: 5px;
}
.left-pan{
 background-color: #0a1540;
 margin-bottom:16px;
}
.ico-color{
  color:#fff;
  margin-top: 55px;
}
.ico2-color {
    color: #fff;
    margin-top: 35px;
}
.icn-text{
  margin:11px;
  font-size: 13px;
  
}
.icn-lin{
  color:#fff;
}
.icn-lin:hover{
  color:#fff !important;
}
.icn-lin-gray{
  color:#7b7b7b;
}
.icn-lin-gray:hover{
   color:#7b7b7b !important;
}
.icn1-text{
  margin-left:11px;
  font-size: 13px;
}
.below-cards{
  margin-top:20px;
}
.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
  color:#fff;
  font-size:13px; 
}
.col-sm-4 {
    -ms-flex: 0 0 30.333333%;
    flex: 0 0 30.333333%;
    max-width: 30.333333%;
}



.card1-content{
  color:#fff;
  margin-top:50px;
}

.top-action{
  color:#fff;
  margin-top:20px;
}
.icn-sf{
  width:40px;
  height:40px;
}
.icn-hp{
  width:40px;
  height:40px;
}
.icn-dk{
  width:40px;
  height:40px;
}
.card-text{
  font-size:13px;
  margin-bottom: 40px;

}
.card2-text{
  font-size:13px;
  margin-bottom: 22px;
}
.form-control {
  display: block;
  width: 98%;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.tab-clr{
  background-color: #fff;
  border-left:1px solid #dee2e6;
  border-right:1px solid #dee2e6;
  border-bottom:1px solid #dee2e6;
}

.welcome-user {
    margin-right: 19px;
    margin-top: -44px;
}
}
.form-group {
  margin-bottom: 0rem; 
}
.mt7{
margin-top:7px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  text-decoration: none;
  color: #ffffff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}
.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 30px;
}

.sidebar-title{
font-size:14px;
color:#fff;
margin-left:10px;
padding-top:10px;
height:25px;
font-weight: bold;
}

.side-bar1{
background-color: #fbf9fa;
background-size:cover;
}
.user-icon{
margin-top:10px;
margin-bottom:10px;
padding:5px;
}
.icon-user{
margin-right:15px;
}
.header-img{
margin-top:-100px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .5rem 0.75rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  font-size:14px;
}


.second-section{
padding-top: 20px;
padding-left: 20px;
color: #fff;
}
.hierarchy-pg{
  min-height: 335px
}

.icn-user {
    height: 35px;
    padding-right: 10px;
}

@media (min-width: 1200px){
.container {
  max-width: 100%;  
}
.col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 5.333333%;
    max-width: 5.333333%;
}
.col-sm-5 {
    -ms-flex: 0 0 46.666667%;
    flex: 0 0 46.666667%;
    max-width: 46.666667%;
}
.col-sm-5-cust{
    -ms-flex: 0 0 42.666667%;
    flex: 0 0 42.666667%;
    max-width: 42.666667%;
}
}
/*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
    padding-top: 20px; position: relative;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li {
  float: left; text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
  content: '';
  position: absolute; top: 0; right: 50%;
  border-top: 1px solid #ccc;
  width: 50%; height: 20px;
}
.tree li::after{
  right: auto; left: 50%;
  border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid #ccc;
  width: 0; height: 20px;
}

.tree li a{
  border: 1px solid #ccc;
  background-color: #4146CD;
  padding: 3px 0px;
  text-decoration: none;
  color: #fff;
  /*font-family: arial, verdana, tahoma;*/
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  display: inline-block; 
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*hover effect the the lineage of the element */
.tree li a:hover, .tree li a:hover+ul li a {
  background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
  border-color:  #94a0b4;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.col-sm-5-cust{
    -ms-flex: 0 0 42.666667%;
    flex: 0 0 100%;
    max-width: 100%;
}
.campign-text-home {
    color: #fff;
    margin-top: 0px;
    font-size: 40px;
    margin-left:50px;
    position: relative;
    margin-top:0px;
}
.campign-text{
color:#fff;
position: relative;
margin-top:70px;
}

.container {
  max-width: 100%;  
}
.col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 5.333333%;
    max-width: 5.333333%;
}
.col-sm-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-sm-5-cust{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.right-pan{
height: 130px;
    background-color: #99354C;
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/people-bg.png");
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-left: 0px;
}

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

.col-sm-5-cust{
    -ms-flex: 0 0 42.666667%;
    flex: 0 0 100%;
    max-width: 100%;
}
  .campign-text{
  color:#fff;
  position: relative;
  margin-top:70px;
  }
.campign-text-home {
    color: #fff;
    margin-top: 0px;
    font-size: 20px;
    margin-left:50px;
    position: relative;
    margin-top:80px;
    margin-left:-10px;
}
.card1{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card1.png");
    background-repeat: no-repeat;
    margin-left: 2px;
    background-size: cover;

}
.card2{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card2.png");
    background-repeat: no-repeat;
    margin-left: 13px;
    background-size: cover;
}
.card3{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card3.png");
    background-repeat: no-repeat;
    margin-left: 13px;
    background-size: cover;
}

.container {
  max-width: 100%;  
}
.col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 5.333333%;
    max-width: 5.333333%;
}
.col-sm-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-sm-5-cust{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.right-pan{
    background-color: #99354C;
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/people-bg.png");
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-left: 0px;
    background-size: cover;
    height: 141px;
}
.ico-color{
  color:#fff;
  margin-top: 50px;
}
.ico2-color {
    color: #fff;
    margin-top: 30px;
}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

.col-sm-5-cust{
    -ms-flex: 0 0 42.666667%;
    flex: 0 0 100%;
    max-width: 100%;
}
  .campign-text{
  color:#fff;
  position: relative;
  margin-top:70px;
  }
.card1{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card1.png");
    background-repeat: no-repeat;
    margin-left: 2px;
    background-size: cover;

}
.card2{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card2.png");
    background-repeat: no-repeat;
    margin-left: 14px;
    background-size: cover;
}
.card3{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card3.png");
    background-repeat: no-repeat;
    margin-left: 14px;
    background-size: cover;
}


.container {
  max-width: 100%;  
}
.col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 5.333333%;
    max-width: 5.333333%;
}
.col-sm-5 {
    -ms-flex: 0 0 46.666667%;
    flex: 0 0 46.666667%;
    max-width: 46.666667%;
}
.col-sm-5-cust{
    -ms-flex: 0 0 42.666667%;
    flex: 0 0 42.666667%;
    max-width: 42.666667%;
}
.right-pan{
    background-color: #99354C;
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/people-bg.png");
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-left: 0px;
}
.ico-color{
  color:#fff;
  margin-top: 15px;
}
.ico2-color {
    color: #fff;
    margin-top: 15px;
}

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .campign-text-home {
    color: #fff;
    margin-top: 0px;
    font-size: 40px;
    margin-left:50px;
    position: relative;
    margin-top:0px;
}
  
.card1{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card1.png");
    background-repeat: no-repeat;
    margin-left: 2px;
    background-size: cover;

}
.card2{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card2.png");
    background-repeat: no-repeat;
    margin-left: 19px;
    background-size: cover;
}
.card3{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card3.png");
    background-repeat: no-repeat;
    margin-left: 19px;
    background-size: cover;
}

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
.campign-text-home {
    color: #fff;
    margin-top: 0px;
    font-size: 40px;
    margin-left:50px;
    position: relative;
    margin-top:0px;
}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.campign-text-home {
    color: #fff;
    margin-top: 0px;
    font-size: 40px;
    margin-left:50px;
    position: relative;
    margin-top:0px;
}
.card1{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card1.png");
    background-repeat: no-repeat;
    margin-left: 2px;
    background-size: cover;

}
.card2{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card2.png");
    background-repeat: no-repeat;
    margin-left: 19px;
    background-size: cover;
}
.card3{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card3.png");
    background-repeat: no-repeat;
    margin-left: 19px;
    background-size: cover;
}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
.campign-text-home {
    color: #fff;
    margin-top: 0px;
    font-size: 40px;
    margin-left:50px;
    position: relative;
    margin-top:0px;
}
.card1{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card1.png");
    background-repeat: no-repeat;
    margin-left: 2px;
    background-size: cover;

}
.card2{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card2.png");
    background-repeat: no-repeat;
    margin-left: 19px;
    background-size: cover;
}
.card3{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card3.png");
    background-repeat: no-repeat;
    margin-left: 19px;
    background-size: cover;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
.campign-text-home {
    color: #fff;
    margin-top: 0px;
    font-size: 40px;
    margin-left:50px;
    position: relative;
    margin-top:0px;
}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
.col-sm-5-cust{
    -ms-flex: 0 0 42.666667%;
    flex: 0 0 42.666667%;
    max-width: 42.666667%;
}
.campign-text{
  color:#fff;
  position: relative;
  margin-top:28px;
  }
.campign-text-home {
    color: #fff;
    margin-top: 0px;
    font-size: 40px;
    margin-left:50px;
    position: relative;
}
.card1{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card1.png");
    background-repeat: no-repeat;
    margin-left: 3px;
    background-size: cover;

}
.card2{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card2.png");
    background-repeat: no-repeat;
    margin-left: 19px;
    background-size: cover;
}
.card3{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card3.png");
    background-repeat: no-repeat;
    margin-left: 19px;
    background-size: cover;
}
.container {
  max-width: 100%;  
}
.col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 5.333333%;
    max-width: 5.333333%;
}
.col-sm-5 {
    -ms-flex: 0 0 46.666667%;
    flex: 0 0 46.666667%;
    max-width: 46.666667%;
}
.col-sm-5-cust{
    -ms-flex: 0 0 42.666667%;
    flex: 0 0 42.666667%;
    max-width: 42.666667%;
}
.right-pan{
	height: 130px;
    background-color: #99354C;
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/people-bg.png");
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-left: 4px;
    width: 589px;
	background-size:cover;
}
.ico-color{
  color:#fff;
  margin-top: 49px;
}
.ico2-color {
    color: #fff;
    margin-top: 35px;
    margin-bottom:49px;
}


}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

.col-sm-5-cust{
    -ms-flex: 0 0 42.666667%;
    flex: 0 0 42.666667%;
    max-width: 42.666667%;
}
  .campign-text{
  color:#fff;
  position: relative;
  margin-top:28px;
  }
.card1{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card1.png");
    background-repeat: no-repeat;
    margin-left: 2px;
    background-size: cover;

}
.card2{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card2.png");
    background-repeat: no-repeat;
    margin-left: 19px;
    background-size: cover;
}
.card3{
    min-height: 221px; 
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/card3.png");
    background-repeat: no-repeat;
    margin-left: 19px;
    background-size: cover;
}
.campign-text-home {
    color: #fff;
    margin-top: 0px;
    font-size: 40px;
    margin-left:50px;
    position: relative;
}
.container {
  max-width: 100%;  
}
.col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 5.333333%;
    max-width: 5.333333%;
}
.col-sm-5 {
    -ms-flex: 0 0 46.666667%;
    flex: 0 0 46.666667%;
    max-width: 46.666667%;
}
.col-sm-5-cust{
    -ms-flex: 0 0 42.666667%;
    flex: 0 0 42.666667%;
    max-width: 42.666667%;
}
.right-pan{
height: 130px;
    background-color: #99354C;
    background: url("https://rawcdn.githack.com/radumpala/isg/2307422cfb6a29fc52e73a514a38cc6624056d5c/people-bg.png");
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-left: 20px;
}
.ico-color{
  color:#fff;
  margin-top: 55px;
}
.ico2-color {
    color: #fff;
    margin-top: 35px;
}


}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
.ico-color{
  color:#fff;
  margin-top: 55px;
}
.ico2-color {
    color: #fff;
    margin-top: 35px;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}


